.booklist__subbook {
  display: flex;
  flex-direction: column;
  margin: 20px 0px;
}

.booklist__subbook-title {
  font-weight: bold;
  font-size: 20px;
  margin: 5px 0px;
}
.booklist__subbook-li {
  display: flex;
}

.booklist__subbook-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 130px;
  width: 90px;
}

.booklist__subbook-star {
  display: flex;
  font-size: 3px;
  color: rgb(255, 206, 51);
  margin: 10px 0px;
}
